<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    #wrapper
      h1.title Заглавние 1dsds
      img(src=require("./dbecad.0f0cd09f.jpg"))